<p>
	<strong> bprice</strong>
	<%= @inventory.bprice %>
</p>
<p>
	<strong> sprice</strong>
	<%= @inventory.sprice %>
</p>
<p>
	<strong> offer</strong>
	<%= @inventory.offer %>
</p>
<p>
	<strong> sku</strong>
	<%= @inventory.sku %>
</p>
