<div class="page-body">
    <div class="row">
      <div class="col-md-2">
        <strong style="margin-right:10px;">Name: </strong>
          <%= @city.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong style="margin-right:10px;">Latitude: </strong>
        <%= @city.latitude %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong style="margin-right:10px;">Longitude: </strong>
        <%= @city.longitude %>%>
      </div>
    </div>
</div>