<div class="page-body">
<%= form_for @brand, url: brands_url do |f|%>

<%= render partial: 'form', locals: { f: f } %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <%= f.submit 'Create', class: "btn btn-primary" %>
        </div>
      </div>
<% end %>
</div>