<div class="page-body">
    <div class="row">
      <div class="col-md-2">
        <strong style="margin-right:10px;">Name: </strong>
        <%= @brand.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong style="margin-right:10px;">Created_At: </strong>
        <%= @brand.created_at %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong style="margin-right:10px;">Updated_At: </strong>
        <%= @brand.updated_at %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong style="margin-right:10px;">Logo: </strong>
        <%= image_tag @brand.logo.url(:thumb) %>
      </div>
    </div>
</div>